.rating-data-window {
  position: fixed;
  padding: 0px;
  margin: 0px;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.rating-data-inner-window {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(141, 138, 138);
  overflow: auto;
}

.window {
  position: fixed;
  padding: 0px;
  top: 4rem;
  left: 0;
  width: 23%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.inner-window {
  position: static;
  width: 100%;
  height: 100%;
  background-color: rgb(141, 138, 138);
  overflow: auto;
}
