.movie-modal-window {
  position: fixed;
  margin: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color:rgb(206, 194, 194); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.movie-modal-inner-window {
  position: relative;
  padding: 40px;
  /* top: 20px; */
  width: 100%;
  height: auto;
  max-width: 640px;
  background-color: rgb(141, 138, 138);
  /* background-color: rgb(44, 71, 226); */
}

.movie-modal-inner-window .movie-modal-close-btn {
  position: absolute;
  top: 25px;
  right: 16px;
  padding: 5px;
}

.movie-modal-inner-window .movie-modal-close-btn:hover {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 7px;
  font-weight: bold;
}

.movie-modal-overview {
  font-weight: bold;
}

.page {
  position: fixed;
  border: 1px dashed black;
  max-width: 800px;
  margin-left: 20rem;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.layout {
  position: fixed;
  padding: 26px;
  top: 5rem;
  left: 22rem;
  width: 100%;
  height: auto;
  max-width: 640px;
  display: flex;
  box-shadow: 5px 10px #d1cfcf;
}

.info {
  padding: 0 1rem;
  display: inline-block;
}

.info h4 {
  font-weight: normal;
  font-style: italic;
}

.image {
  /* display: inline; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 250px;
}
